<h1>Add a team</h1>

<form method="POST" action="/teams">
    <label for="team-select">
    Choose a team:
    </label>
        <select name="name" id="team-select">
            <option value= "Denmark" >Denmark</option>
            <option value= "Germany" >Germany</option>
            <option value= "Nigeria" >Nigeria</option>
            <option value= "Argentina" >Argentina</option>
            <option value= "England" >England</option>
            <option value= "Cameroon" >Cameroon</option>
            <option value= "Italy" >Italy</option>
            <option value= "Japan" >Japan</option>
        </select>

    <input type='submit' value='Add team'>
</form>