<h1>Add a team</h1>

<form method="POST" action="/teams">
    <label for="team_select">
    Choose a team:
    </label>
        <select name="team_name" id="team_select">
        <% @teams.each do |team| %>
            <option value=<%= team.id %>><%= team.name %></option>
        <% end %>
        </select>

<input type='submit' value='Add team'/>
</form>