<h1>Add a team</h1>

<form method="POST" action="/teams">
    <label for="team-select">
    Choose a team:
    </label>
        <select name="name" id="team-select">
           <% @teams.each do |team| %>
           <option value=<%= team.id %>><%= team.name  %></option>
           <% end %>
        </select>

    <input type='submit' value='Add team'>
</form>