<h1>Welcome to The 1998 World Cup Fantasy League!</h1>

<p>Relive a great summer by adding and deleting teams to the league.</p>
<p> Matches can be played between the following teams: </p>

<div class="frontpage-teams">
<% @teams.each do |team| %>
<li><%= team.name %></li>
<% end %>
</div>
<p></p>
<img src="/images/ronaldo2.jpeg" id="player-image"/>
<img src="/images/suker.jpeg" id="player-image"/>
<img src="/images/vieri.jpeg" id="player-image"/>

<img src="/images/laudrup.jpeg" id="player-image"/>
<img src="/images/west.jpeg" id="player-image"/>
<img src="/images/beckham.jpeg" id="player-image"/>


