<!DOCTYPE html>
<html>
<head>
    <title>World Cup '98 Fantasy League</title>

    <link rel="icon" href="/images/world_cup.png" />
    <link rel="stylesheet" type="text/css" href="/styles/structure_fitba.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables_fitba.css">
</head>
<body>
    <nav id="menu">
        <table>
            <tr>
                <th class='menu-item'><a href='/teams'>Teams</a></th>
                <th class='menu-item'><a href='/games'>Games</a></th>
                <th class='menu-item'><a href='/teams/new'>Add Teams</a></th>
                <th class='menu-item'><a href='/games/new'>Add Games</a></th>
            </tr>
        </table>
    </nav>
    <%= yield %>
</body>
</html>