<h1>Add a game</h1>

<form method="POST" action="/games">
        <label for="home-team-select">Choose the home team:</label>
        <select name="team-id" id="home-team-select">
        <% @teams.each do |team| %>
            <% team.id_id.each do |whatever|%>
            <option value=<%= whatever.home_team_id %>><%= team.name %></option>
            <% end %>
        <% end %>
        </select>

    <input type='submit' value='Add game'>
</form>
