body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
}


.menu-item {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 2em;
}