body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-item {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 2em;
}