body {
    background-color: rgb(28, 217, 241);
    font-family: Helvetica;
    font-size: 1.6em;
}

#team-wrapper {
    font-size: 1.1em;
}

.menu {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#score_heading {
    text-align: center;
}

#image {
    height: 100%;
}

.image_place {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.lineup_place{
    display: grid;
    grid-template-columns: 5fr 5fr;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

.match_colour, a {
    color: rgb(12, 30, 190);
}


#delete_team {
    text-align: center;
}