th {
    text-align: center;
    padding: 10px 20px 0px 0px;
}

td {
    text-align: center;
    padding: 10px 10px 0px 0px;
}

.players {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

.team_name {
    text-align: left;
}

.player_heading {
    text-align: left;
}
